<div class="container row">
  <div class="col-md-2">
    <h1>Products</h1>
  </div>
  <div class="col-md-10 custom-products-cart-container">
    <div class="offset-md-8">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="glyicon glyphicon-shopping-cart">
              Products Added In Cart:
            </span>
            <span class="caret">{{cartProducts.length}}</span>
          </a>
          <ul class="dropdown-menu dropdown-cart" role="menu">
            <li *ngFor="let item of cartProducts">
              <div class="item product-cart-item row">
                <div class="col-md-8" *ngIf="item">{{item.title}}</div>
                <div class="col-md-4" *ngIf="item"><strong>${{item.price}}</strong></div>
              </div>
            </li>
            <hr>
            <li><a class="btn btn-primary btn-block" role="button" (click)="goToCart()">View Cart</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">    
      <div class="col-md-4 col-centered" *ngFor="let product of products;let i=index">
        <div class="card card-block">
          <img [src]="product.img" alt="" class="custom-image-style">
          <div class="product-desc-container row">
            <div class="container">
              <p><strong>{{product.title}}: ${{product.price}}</strong></p>
              <p>{{product.description}}</p>
            </div>
            <div class="offset-md-4 col-md-4">
              <button class="btn btn-primary btn-sm" (click)="addToCart(i)" [disabled]="product.isAdded===true">Add To Cart</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>