<div class="container">
  <div class="row">
    <h1>Home</h1>
  </div>
</div>
<hr>
<div class="container">
  <div class="col-md-12">
    <div id="carouselExampleIndicators" class="carousel slide col-md-12" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img src="assets/noun_11819_cc.png" alt="First slide" class="img-fluid">
          <div class="carousel-caption">
            <h3>Large Variety of Coffee Products</h3>
            <button class="btn btn-primary" (click)="viewProducts()">View Products</button>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/noun_942609_cc.png" alt="Second slide" class="d-block img-fluid">
          <div class="carousel-caption d-none d-md-block">
            <h3>Large Variety of Coffee Products</h3>
            <button class="btn btn-primary" (click)="viewProducts()">View Products</button>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/noun_943220_cc.png" alt="Third slide" class="d-block img-fluid">
          <div class="carousel-caption d-none d-md-block">
            <h3>Large Variety of Coffee Products</h3>
            <button class="btn btn-primary" (click)="viewProducts()">View Products</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
